@charset "UTF-8";
/*GENERAL STYLES*/
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800";
/* line 3, ../sass/partials/_common.scss */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2016, 11:11:54 PM
    Author     : roman
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 ╨▓╨╡╤А 2016, 2:19:53
    Author     : Irusya
*/
/* line 12, ../sass/newstyle.scss */
body {
  font-size: 100%;
}

/*.container {
        width: 100%;
}*/
/*INDICATORS*/
/* line 21, ../sass/newstyle.scss */
#left_indikator {
  position: fixed;
  top: 305px;
  left: 0px;
}

/* line 27, ../sass/newstyle.scss */
#right_indikator {
  position: fixed;
  top: 285px;
  right: 0px;
}

/* line 33, ../sass/newstyle.scss */
#allcontent {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 39, ../sass/newstyle.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

/* line 42, ../sass/newstyle.scss */
ul {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

/* line 48, ../sass/newstyle.scss */
ul li {
  list-style-type: none;
}

/* line 52, ../sass/newstyle.scss */
a {
  text-decoration: none;
}

/* line 55, ../sass/newstyle.scss */
p {
  font-size: 16pt;
  line-height: 2em;
}

/*SECTION CONTENT_TOP 
/*article full_box video_1*/
/* line 63, ../sass/newstyle.scss */
section.content_top .full_box_video_1 {
  max-height: 800px;
  overflow: hidden;
  position: relative;
}

/* line 70, ../sass/newstyle.scss */
nav .header_logo {
  position: absolute;
  z-index: 1300;
  top: 60px;
  left: 8.4375%;
}
/* line 75, ../sass/newstyle.scss */
nav .header_logo img {
  height: 35px;
}
/* line 79, ../sass/newstyle.scss */
nav ul.header_nav {
  position: absolute;
  z-index: 1300;
  top: 50px;
  right: 8.4375%;
  /*        li.selected {
              border-style: solid;
              border-radius: 7px;
              border-style: solid;
              border-width: 2px;
              border-color: $color3;
          }*/
}
/* line 84, ../sass/newstyle.scss */
nav ul.header_nav li {
  /*float: left;*/
  display: inline-block;
  height: 40px;
  margin: 0px 10px 0px 3px;
}
/* line 89, ../sass/newstyle.scss */
nav ul.header_nav li select {
  /*float: right;*/
  display: inline-block;
  height: 40px;
  border-style: none;
  background-color: transparent;
  vertical-align: center;
  font-size: 110%;
  font-weight: 300;
  color: #000000;
  padding-right: 5px;
  margin-left: 8px;
  width: 150%;
  -webkit-appearance: none;
  background-image: url("../images/arrow_language.png");
  background-size: 20%;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
/* line 115, ../sass/newstyle.scss */
nav ul.header_nav li select option {
  border-style: none;
  background-color: transparent;
  vertical-align: center;
  padding: 13px 0px 15px 3px;
  font-weight: 350;
}
/* line 122, ../sass/newstyle.scss */
nav ul.header_nav li select::-ms-expand {
  display: none;
}
/* line 127, ../sass/newstyle.scss */
nav ul.header_nav a {
  display: block;
  color: #000000;
  line-height: 40px;
  font-size: 105%;
  letter-spacing: -0.8px;
  /*font-weight: 330;*/
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}
/* line 137, ../sass/newstyle.scss */
nav ul.header_nav a:hover {
  border-style: solid;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

/* line 155, ../sass/newstyle.scss */
.header_title {
  position: absolute;
  z-index: 1300;
  top: 458px;
  left: 8.4375%;
}
/* line 160, ../sass/newstyle.scss */
.header_title h1, .header_title h2 {
  color: #ffffff;
}
/* line 163, ../sass/newstyle.scss */
.header_title h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -0.6px;
  line-height: 0.99em;
  margin-bottom: 13px;
}
/* line 170, ../sass/newstyle.scss */
.header_title h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 0px;
}

/* line 177, ../sass/newstyle.scss */
.top_teaser {
  position: absolute;
  z-index: 1300;
  top: 73.375%;
  left: 61.875%;
}
/* line 183, ../sass/newstyle.scss */
.top_teaser a img {
  width: 75%;
}

/* line 188, ../sass/newstyle.scss */
.opacity_layer {
  position: absolute;
  /*z-index: 1299;*/
}
/* line 191, ../sass/newstyle.scss */
.opacity_layer img {
  opacity: 1;
}

/*SECTION CONTENT_TOP*/
/*article columns_box*/
/* line 199, ../sass/newstyle.scss */
section.content_top .columns_text_icon {
  height: 680px;
  background-color: #ffffff;
}

/* line 206, ../sass/newstyle.scss */
section.content_top article.columns_text_icon h2, section.content_top article.columns_text_icon h3, section.content_top article.columns_text_icon p {
  color: #009ee0;
  margin-left: 13%;
  margin-right: 12%;
}
/* line 211, ../sass/newstyle.scss */
section.content_top article.columns_text_icon h2 {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 23px;
}
/* line 216, ../sass/newstyle.scss */
section.content_top article.columns_text_icon h3 {
  font-size: 24px;
  margin-top: 90px;
  margin-bottom: 8px;
  font-weight: 500;
}
/* line 222, ../sass/newstyle.scss */
section.content_top article.columns_text_icon p {
  font-size: 16px;
}
/* line 227, ../sass/newstyle.scss */
section.content_top .columns_text_icon p {
  font-weight: 300;
  margin-top: 30px;
}
/* line 231, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_text, section.content_top .columns_text_icon div.block_icon {
  display: inline-block;
  background-color: #ffffff;
}
/* line 235, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_text {
  width: 65%;
}
/* line 238, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_icon {
  width: 35%;
  float: right;
}
/* line 241, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_icon img {
  height: 40.5%;
  margin: 24% 0 0 20%;
  vertical-align: center;
}

/*SECTION CONTENT_SLIDER*/
/* line 251, ../sass/newstyle.scss */
section.content_slider {
  /*article slider*/
  /*    .tableContainer {
          display: table;         
      }
      .tableRow {
          display: table-row;
          float: left;        
      }*/
}
/* line 252, ../sass/newstyle.scss */
section.content_slider .full_box_video_2 {
  max-height: 800px;
  overflow: hidden;
}
/* line 257, ../sass/newstyle.scss */
section.content_slider #slide_container {
  height: 800px;
  overflow: auto;
  /*        position: relative;*/
}
/* line 269, ../sass/newstyle.scss */
section.content_slider article.slider_box {
  position: relative;
  /*        display: inline-block;
          float: left;*/
  overflow: hidden;
  height: 800px;
}
/* line 277, ../sass/newstyle.scss */
section.content_slider article.slider_box .block_text, section.content_slider article.slider_box div.video {
  width: 50%;
  display: inline-block;
  background-color: #ffffff;
  overflow: hidden;
}

/* line 286, ../sass/newstyle.scss */
article.slider_box.right div.video {
  float: right;
  position: relative;
}
/* line 289, ../sass/newstyle.scss */
article.slider_box.right div.video div.video_button {
  /*            position: relative;*/
  /*@include centerer(true, true);*/
}
/* line 292, ../sass/newstyle.scss */
article.slider_box.right div.video div.video_button img {
  /*position: absolute;
     bottom: 400px;
     left: 345px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*z-index: 1001;*/
}
/* line 300, ../sass/newstyle.scss */
article.slider_box.right div.video div.speak_1 {
  position: relative;
}
/* line 302, ../sass/newstyle.scss */
article.slider_box.right div.video div.speak_1 img {
  position: absolute;
  top: -420px;
  left: 80px;
  z-index: 1002;
}

/* line 312, ../sass/newstyle.scss */
article.slider_box.left div.video {
  float: left;
  position: relative;
}
/* line 315, ../sass/newstyle.scss */
article.slider_box.left div.video div.video_button {
  /*position: relative;*/
}
/* line 317, ../sass/newstyle.scss */
article.slider_box.left div.video div.video_button img {
  /*                position: absolute;
                  bottom: 400px;
                  left: 345px;
                  z-index: 1001;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 325, ../sass/newstyle.scss */
article.slider_box.left div.video div.speak_2 {
  position: relative;
}
/* line 327, ../sass/newstyle.scss */
article.slider_box.left div.video div.speak_2 img {
  position: absolute;
  top: -420px;
  left: 80px;
  z-index: 1103;
}

/* line 337, ../sass/newstyle.scss */
#slide_3 div.speak_3 {
  position: relative;
}
/* line 339, ../sass/newstyle.scss */
#slide_3 div.speak_3 img {
  position: absolute;
  top: -420px;
  left: 80px;
  z-index: 1104;
}

/* line 347, ../sass/newstyle.scss */
.slider_block_video {
  overflow: hidden;
}

/* line 352, ../sass/newstyle.scss */
article.slider_box img {
  position: relative;
  left: -310px;
}
/* line 356, ../sass/newstyle.scss */
article.slider_box div.block_text {
  /*position: relative;*/
}
/* line 358, ../sass/newstyle.scss */
article.slider_box div.block_text p {
  /*margin: 180px 120px 115px 120px;*/
  width: 70%;
  margin: 22.5% auto 14.375%;
  color: #000000;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.3em;
}

/* line 372, ../sass/newstyle.scss */
div.slider_list {
  /*    padding-left: 262px;*/
  margin-left: auto;
  /*width: 50%;*/
  margin-right: auto;
  text-align: center;
  /*@include centerer(true, false);*/
}
/* line 380, ../sass/newstyle.scss */
div.slider_list ul.slider_data {
  display: inline-block;
  text-align: right;
  color: #7e7f7f;
  font-size: 16px;
  line-height: 2em;
  /*        margin-bottom: 150px;*/
  padding-right: 12px;
}
/* line 389, ../sass/newstyle.scss */
div.slider_list ul.slider_value {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  line-height: 2em;
  /*        margin-bottom: 150px;*/
  padding-left: 12px;
}

/*SECTION CONTENT_CENTER*/
/*full_box_blue*/
/* line 403, ../sass/newstyle.scss */
section.content_center {
  display: block;
  background-color: #009ee0;
  color: #ffffff;
  text-align: center;
  height: 1040px;
}
/* line 409, ../sass/newstyle.scss */
section.content_center article.full_box_blue {
  height: 100%;
  position: relative;
  margin: auto;
  width: 66.25%;
}
/* line 414, ../sass/newstyle.scss */
section.content_center article.full_box_blue h2 {
  margin: 0px;
  padding: 180px 0px 18px 0px;
  font-size: 60px;
  /*font-weight: 800;*/
}
/* line 420, ../sass/newstyle.scss */
section.content_center article.full_box_blue p {
  font-size: 16px;
  color: #ffffff;
  /*            margin: 8px 400px 0px 400px;*/
  font-size: 16px;
  line-height: 1.5em;
  margin: auto;
  padding: 0 10px;
  width: 77%;
}
/* line 430, ../sass/newstyle.scss */
section.content_center article.full_box_blue div.list_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10.5%;
}
/* line 433, ../sass/newstyle.scss */
section.content_center article.full_box_blue div.list_center ul {
  /*                margin-top: 240px;*/
  line-height: 2em;
  font-size: 24px;
  /*list-style-position: inside;*/
  /*margin-left: 21.3em;*/
  /*list-style-image: url('../images/mark_list_page_2.png');*/
}
/* line 440, ../sass/newstyle.scss */
section.content_center article.full_box_blue div.list_center ul li {
  width: 100%;
  text-align: left;
  padding-left: 69px;
  margin-left: -4.5%;
  background-image: url("../images/mark_list_page_2.png");
  background-size: 6.9%;
  background-repeat: no-repeat;
  background-position: 0 55%;
}

/*SECTION CONTENT_TEASER*/
/* line 458, ../sass/newstyle.scss */
.columns_teaser {
  height: 800px;
}

/* line 461, ../sass/newstyle.scss */
article.columns_teaser {
  overflow: hidden;
  position: relative;
}

/* line 465, ../sass/newstyle.scss */
.teaser_left_box, .teaser_right_box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 50%;
  float: left;
}
/* line 471, ../sass/newstyle.scss */
.teaser_left_box .teaser_box_label, .teaser_right_box .teaser_box_label {
  /*        position: absolute;
          top: 31.5%;
          left: 16%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  margin-top: -5.3%;
  text-align: center;
}
/* line 479, ../sass/newstyle.scss */
.teaser_left_box .teaser_box_label h2, .teaser_right_box .teaser_box_label h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 0;
}
/* line 485, ../sass/newstyle.scss */
.teaser_left_box .teaser_box_label h3, .teaser_right_box .teaser_box_label h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-top: 0.2em;
  margin-bottom: 2em;
}
/* line 492, ../sass/newstyle.scss */
.teaser_left_box .teaser_box_label a, .teaser_right_box .teaser_box_label a {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin: 10px 3px;
  padding: 13px 32px 13px 16px;
  text-transform: uppercase;
  background-image: url("../images/arrow_form.png");
  background-size: 13%;
  background-position: 85% 51%;
  background-repeat: no-repeat;
}

/* line 513, ../sass/newstyle.scss */
section.teaser div.teaser_left_box img, section.teaser div.teaser_right_box img {
  position: relative;
  left: -120px;
  /*top: -50px;*/
  /*width: 195%;*/
}

/*article columns_teaser_text*/
/* line 523, ../sass/newstyle.scss */
article.columns_teaser_text {
  height: 825px;
  overflow: hidden;
}
/* line 526, ../sass/newstyle.scss */
article.columns_teaser_text .teaser_text_left_block, article.columns_teaser_text .teaser_text_right_block {
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
  color: #009ee0;
  overflow: hidden;
  width: 50%;
  float: left;
}
/* line 535, ../sass/newstyle.scss */
article.columns_teaser_text h2 {
  color: #009ee0;
  text-align: center;
  font-size: 60px;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
}
/* line 542, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content {
  margin: 0px 180px;
}
/* line 544, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content img {
  height: 98px;
}
/* line 547, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content h3, article.columns_teaser_text div.teaser_block_content p, article.columns_teaser_text div.teaser_block_content button, article.columns_teaser_text div.teaser_block_content a {
  margin-left: 0px;
  margin-right: 0px;
  color: #009ee0;
}
/* line 552, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content h3 {
  font-size: 24px;
  padding-top: 0.9em;
  margin-bottom: 0.3em;
}
/* line 557, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content p {
  height: 12.5em;
  width: 90%;
  overflow: hidden;
  font-size: 16px;
  margin: 0 auto 2.8em;
}
/* line 565, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content a {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #009ee0;
  line-height: 4em;
  margin: 60px 0px;
  padding: 0.9em 1.65em;
  font-size: 16px;
  text-transform: uppercase;
}

/* line 579, ../sass/newstyle.scss */
section.content_bottom .full_box_video_3 {
  position: relative;
  max-height: 800px;
  overflow: hidden;
}
/* line 583, ../sass/newstyle.scss */
section.content_bottom .full_box_video_3 img#video_3 {
  height: 805px;
}
/* line 586, ../sass/newstyle.scss */
section.content_bottom .full_box_video_3 .video_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 588, ../sass/newstyle.scss */
section.content_bottom .full_box_video_3 .video_button img {
  /*              position: absolute;
                  bottom: 315px;
                 left: 750px;
                  z-index: 1000;*/
}
/* line 597, ../sass/newstyle.scss */
section.content_bottom .newsletter_modul .mail_box {
  background-image: url("../images/Newsletter_background.jpg");
  background-color: #009ee0;
  background-size: 100%;
  background-position: right center;
  background-repeat: no-repeat;
  height: 200px;
}
/* line 604, ../sass/newstyle.scss */
section.content_bottom .newsletter_modul .mail_box h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 0px;
  padding: 30px 0px 0px 0px;
}
/* line 612, ../sass/newstyle.scss */
section.content_bottom .newsletter_modul .mail_box form {
  padding: 15px 0px 30px 0px;
  text-align: center;
}
/* line 615, ../sass/newstyle.scss */
section.content_bottom .newsletter_modul .mail_box form input {
  line-height: 46px;
  vertical-align: central;
  margin: 0px 2px;
  padding: 1px 10px;
}
/* line 621, ../sass/newstyle.scss */
section.content_bottom .newsletter_modul .mail_box form input[type="text"] {
  width: 220px;
  font-size: 14px;
  color: #86898b;
  font-family: "Open Sans", sans-serif;
}
/* line 627, ../sass/newstyle.scss */
section.content_bottom .newsletter_modul .mail_box form input[type="submit"] {
  width: 263px;
  background-image: url("../images/arrow_form.png");
  background-size: 6%;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-color: #009ee0;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  letter-spacing: 2px;
  border: solid 1px #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 13px;
  cursor: pointer;
}
/* line 648, ../sass/newstyle.scss */
section.content_bottom .content_bottom_text {
  height: 740px;
  background-color: #ffffff;
  color: #009ee0;
  text-align: center;
}
/* line 653, ../sass/newstyle.scss */
section.content_bottom .content_bottom_text h2 {
  font-size: 60px;
  /*font-weight: bolder;*/
  margin: 0px 0px 0px 0px;
  padding-top: 240px;
}
/* line 659, ../sass/newstyle.scss */
section.content_bottom .content_bottom_text p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
}
/* line 664, ../sass/newstyle.scss */
section.content_bottom .content_bottom_text .bottom_teaser {
  margin-top: 47px;
}
/* line 666, ../sass/newstyle.scss */
section.content_bottom .content_bottom_text .bottom_teaser img {
  width: 12.5%;
}
/* line 670, ../sass/newstyle.scss */
section.content_bottom .content_bottom_text .top-link {
  text-align: right;
  margin-top: 10px;
}
/* line 673, ../sass/newstyle.scss */
section.content_bottom .content_bottom_text .top-link img {
  width: 4%;
  margin-right: 30px;
}

/*FOOTER*/
/* line 683, ../sass/newstyle.scss */
footer {
  background-color: #009ee0;
  clear: right;
}
/* line 686, ../sass/newstyle.scss */
footer p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 18px 0px;
}
