/*GENERAL STYLES*/
/* line 2, ../sass/newstyle.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

/*.container {
        width: 100%;
}*/
/*INDICATORS*/
/*#left_Indikator {
        position: fixed;
        top: 300px;
        left: 0px;
}*/
/* line 17, ../sass/newstyle.scss */
#left_indikator {
  position: fixed;
  top: 300px;
  left: 0px;
}

/* line 23, ../sass/newstyle.scss */
#right_indikator {
  position: fixed;
  top: 300px;
  right: 0px;
}

/* line 29, ../sass/newstyle.scss */
#allcontent {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 35, ../sass/newstyle.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

/* line 38, ../sass/newstyle.scss */
ul {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

/* line 44, ../sass/newstyle.scss */
ul li {
  list-style-type: none;
}

/* line 48, ../sass/newstyle.scss */
a {
  text-decoration: none;
}

/* line 51, ../sass/newstyle.scss */
p {
  font-size: 16pt;
  line-height: 2em;
}

/*SECTION CONTENT_TOP*/
/*article full_box video_1*/
/* line 59, ../sass/newstyle.scss */
section.content_top .full_box_video_1 {
  max-height: 800px;
  overflow: hidden;
  position: relative;
}

/*nav {
    position: absolute;
    top: 90px;
    left: 160px;
}*/
/* line 71, ../sass/newstyle.scss */
nav .header_logo {
  position: absolute;
  top: 90px;
  left: 120px;
}

/* line 78, ../sass/newstyle.scss */
div.header_logo img {
  height: 42px;
}

/* line 83, ../sass/newstyle.scss */
ul.header_nav {
  position: absolute;
  top: 90px;
  right: 120px;
}

/* line 88, ../sass/newstyle.scss */
.header_logo, .header_nav {
  /*display: inline-block;*/
  /*vertical-align: center;*/
  /*float: left;*/
}

/* line 95, ../sass/newstyle.scss */
.header_nav li {
  /*float: left;*/
  display: inline-block;
  height: 47px;
  margin: 0px 15px 0px 8px;
}
/* line 101, ../sass/newstyle.scss */
.header_nav a {
  display: block;
  color: black;
  line-height: 47px;
  font-size: 116%;
  /*font-weight: 330;*/
  text-align: center;
  padding-left: 17px;
  padding-right: 17px;
}
/* line 110, ../sass/newstyle.scss */
.header_nav a:hover {
  border-style: solid;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
/* line 119, ../sass/newstyle.scss */
.header_nav select {
  /*float: right;*/
  display: inline-block;
  height: 47px;
  margin-left: 8px;
  border-style: none;
  background-color: transparent;
  vertical-align: center;
  font-size: 125%;
  font-weight: 350;
  color: black;
  padding-right: 5px;
  margin-left: 5px;
  width: 150%;
  -webkit-appearance: none;
  background-image: url("../images/arrow_language.png");
  background-size: 31%;
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
/* line 146, ../sass/newstyle.scss */
.header_nav select option {
  border-style: none;
  background-color: transparent;
  vertical-align: center;
  padding: 13px 0px 15px 3px;
  font-weight: 350;
}
/* line 153, ../sass/newstyle.scss */
.header_nav select::-ms-expand {
  display: none;
}

/* line 159, ../sass/newstyle.scss */
.header_title {
  position: absolute;
  top: 455px;
  left: 120px;
}
/* line 163, ../sass/newstyle.scss */
.header_title h1, .header_title h2 {
  color: white;
}
/* line 166, ../sass/newstyle.scss */
.header_title h1 {
  font-size: 85px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1em;
  margin-bottom: 12px;
}
/* line 173, ../sass/newstyle.scss */
.header_title h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0px;
}

/*SECTION CONTENT_TOP*/
/*article columns_box*/
/* line 184, ../sass/newstyle.scss */
section.content_top .columns_text_icon {
  height: 680px;
  background-color: white;
}

/* line 191, ../sass/newstyle.scss */
section.content_top article.columns_text_icon h2, section.content_top article.columns_text_icon h3, section.content_top article.columns_text_icon p {
  color: #009ee0;
  margin-left: 120px;
}
/* line 195, ../sass/newstyle.scss */
section.content_top article.columns_text_icon h2 {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 25px;
}
/* line 200, ../sass/newstyle.scss */
section.content_top article.columns_text_icon h3 {
  font-size: 24px;
  margin-top: 90px;
  margin-bottom: 10px;
  font-weight: 500;
}
/* line 206, ../sass/newstyle.scss */
section.content_top article.columns_text_icon p {
  font-size: 16px;
}
/* line 211, ../sass/newstyle.scss */
section.content_top .columns_text_icon p {
  font-weight: 300;
  margin-top: 30px;
}
/* line 215, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_text, section.content_top .columns_text_icon div.block_icon {
  display: inline-block;
  background-color: white;
}
/* line 219, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_text {
  width: 60%;
}
/* line 222, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_icon {
  width: 40%;
  float: right;
}
/* line 225, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_icon img {
  margin: 120px 0px 0px 170px;
  vertical-align: center;
}

/*SECTION CONTENT_SLIDER*/
/* line 241, ../sass/newstyle.scss */
section.content_slider {
  /*article slider*/
}
/* line 242, ../sass/newstyle.scss */
section.content_slider .full_box_video_2 {
  max-height: 800px;
  overflow: hidden;
}
/* line 247, ../sass/newstyle.scss */
section.content_slider article.slider_box {
  position: relative;
  overflow: hidden;
  height: 805px;
}
/* line 253, ../sass/newstyle.scss */
section.content_slider article.slider_box .block_text, section.content_slider article.slider_box div.video {
  width: 50%;
  display: inline-block;
  background-color: white;
  overflow: hidden;
}

/* line 261, ../sass/newstyle.scss */
article.slider_box div.video {
  float: right;
}

/* line 265, ../sass/newstyle.scss */
#slider_block_video {
  overflow: hidden;
}

/*#slider_block_video {
    overflow: hidden;
    position: absolute;
    left: 480px;
    top: -15px;
    z-index: -1000;
}*/
/* line 277, ../sass/newstyle.scss */
article.slider_box img {
  position: relative;
  left: -310px;
  /*top: -15px;*/
  /*z-index: -1001;*/
}
/* line 284, ../sass/newstyle.scss */
article.slider_box div.block_text p {
  margin: 150px 120px 100px 120px;
  color: black;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.3em;
}

/* line 297, ../sass/newstyle.scss */
ul.slider_data {
  text-align: center;
  margin-bottom: 150px;
  line-height: 2em;
}

/* line 305, ../sass/newstyle.scss */
span.data {
  color: grey;
  font-size: 12pt;
  text-align: right;
  margin-right: 10px;
}

/* line 311, ../sass/newstyle.scss */
span.value {
  color: black;
  font-size: 12pt;
  text-align: left;
}

/*SECTION CONTENT_CENTER*/
/*full_box_blue*/
/* line 318, ../sass/newstyle.scss */
section.content_center {
  display: block;
  background-color: #009ee0;
  color: white;
  text-align: center;
  height: 1040px;
}
/* line 324, ../sass/newstyle.scss */
section.content_center p {
  color: white;
  margin: 0px 400px 0px 400px;
  line-height: 1.3em;
}

/* line 331, ../sass/newstyle.scss */
article.full_box_blue {
  height: 1040px;
}
/* line 333, ../sass/newstyle.scss */
article.full_box_blue h2 {
  margin: 0px;
  padding: 170px 0px 10px 0px;
  font-size: 60px;
}

/*SECTION CONTENT_TEASER*/
/* line 341, ../sass/newstyle.scss */
.columns_teaser {
  height: 805px;
}

/* line 344, ../sass/newstyle.scss */
article.columns_teaser {
  overflow: hidden;
  position: relative;
}

/* line 348, ../sass/newstyle.scss */
.teaser_left_box, .teaser_right_box {
  display: inline-block;
  overflow: hidden;
  width: 50%;
  overflow: hidden;
  float: left;
}

/* line 358, ../sass/newstyle.scss */
section.teaser div.teaser_left_box img, section.teaser div.teaser_right_box img {
  position: relative;
  left: -120px;
  /*top: -50px;*/
  /*width: 195%;*/
}

/*article columns_teaser_text*/
/* line 368, ../sass/newstyle.scss */
article.columns_teaser_text {
  height: 805px;
  overflow: hidden;
}
/* line 371, ../sass/newstyle.scss */
article.columns_teaser_text .teaser_text_left_block, article.columns_teaser_text .teaser_text_right_block {
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
  color: #009ee0;
  overflow: hidden;
  width: 50%;
  float: left;
}
/* line 380, ../sass/newstyle.scss */
article.columns_teaser_text h2 {
  color: #009ee0;
  text-align: center;
  font-size: 60px;
}
/* line 385, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content {
  margin: 20px 180px;
}
/* line 387, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content img {
  height: 100px;
}
/* line 390, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content h3, article.columns_teaser_text div.teaser_block_content p, article.columns_teaser_text div.teaser_block_content button, article.columns_teaser_text div.teaser_block_content a {
  margin-left: 0px;
  margin-right: 0px;
  color: #009ee0;
}
/* line 395, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content h3 {
  font-size: 24px;
}
/* line 398, ../sass/newstyle.scss */
article.columns_teaser_text div.teaser_block_content p {
  height: 200px;
  overflow: hidden;
  font-size: 16px;
}
/* line 404, ../sass/newstyle.scss */
article.columns_teaser_text button {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #009ee0;
  line-height: 2em;
  margin: 60px 0px;
  font-size: 16px;
  text-transform: uppercase;
}

/* line 415, ../sass/newstyle.scss */
section.content_bottom .full_box_video_3 {
  max-height: 800px;
  overflow: hidden;
}
/* line 419, ../sass/newstyle.scss */
section.content_bottom .full_box_video_3 .video_button {
  position: relative;
}
/* line 421, ../sass/newstyle.scss */
section.content_bottom .full_box_video_3 .video_button img {
  position: absolute;
  bottom: 315px;
  left: 750px;
  z-index: 1000;
}
/* line 430, ../sass/newstyle.scss */
section.content_bottom .newsletter_modul {
  /*height: 805px;*/
}
/* line 432, ../sass/newstyle.scss */
section.content_bottom .newsletter_modul .mail_box {
  background-image: url("../images/Newsletter_background.jpg");
  background-size: 100%;
  background-position: right center;
  background-repeat: no-repeat;
}
/* line 437, ../sass/newstyle.scss */
section.content_bottom .newsletter_modul .mail_box h3 {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0px;
}

/*FOOTER*/
/* line 449, ../sass/newstyle.scss */
footer {
  background-color: #009ee0;
  clear: right;
}
/* line 452, ../sass/newstyle.scss */
footer p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 18px 0px;
}
