/*GENERAL STYLES*/
/* line 2, ../sass/newstyle.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

/*.container {
	width: 100%;
}*/
/*INDICATORS*/
/*#left_Indikator {
	position: fixed;
	top: 300px;
	left: 0px;
}*/
/* line 17, ../sass/newstyle.scss */
#left_indikator {
  position: fixed;
  top: 300px;
  left: 0px;
}

/* line 23, ../sass/newstyle.scss */
#right_indikator {
  position: fixed;
  top: 300px;
  right: 0px;
}

/* line 29, ../sass/newstyle.scss */
#allcontent {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 35, ../sass/newstyle.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

/* line 38, ../sass/newstyle.scss */
ul {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

/* line 44, ../sass/newstyle.scss */
ul li {
  list-style-type: none;
}

/* line 48, ../sass/newstyle.scss */
a {
  text-decoration: none;
}

/* line 51, ../sass/newstyle.scss */
p {
  font-size: 16pt;
  line-height: 2em;
}

/*SECTION CONTENT_TOP*/
/*article full_box video_1*/
/* line 59, ../sass/newstyle.scss */
section.content_top .full_box_video_1 {
  height: 805px;
  position: relative;
}

/*nav {
    position: absolute;
    top: 90px;
    left: 160px;
}*/
/* line 70, ../sass/newstyle.scss */
nav .header_logo {
  position: absolute;
  top: 90px;
  left: 120px;
}

/* line 77, ../sass/newstyle.scss */
div.header_logo img {
  height: 42px;
}

/* line 82, ../sass/newstyle.scss */
ul.header_nav {
  position: absolute;
  top: 90px;
  right: 120px;
}

/* line 87, ../sass/newstyle.scss */
.header_logo, .header_nav {
  /*display: inline-block;*/
  /*vertical-align: center;*/
  /*float: left;*/
}

/* line 94, ../sass/newstyle.scss */
.header_nav li {
  /*float: left;*/
  display: inline-block;
  height: 47px;
  margin: 0px 15px 0px 8px;
}
/* line 100, ../sass/newstyle.scss */
.header_nav a {
  display: block;
  color: black;
  line-height: 47px;
  font-size: 116%;
  /*font-weight: 330;*/
  text-align: center;
  padding-left: 17px;
  padding-right: 17px;
}
/* line 109, ../sass/newstyle.scss */
.header_nav a:hover {
  border-style: solid;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
/* line 118, ../sass/newstyle.scss */
.header_nav select {
  /*float: right;*/
  display: inline-block;
  height: 47px;
  margin-left: 8px;
  border-style: none;
  background-color: transparent;
  vertical-align: center;
  font-size: 125%;
  font-weight: 350;
  color: black;
  padding-right: 5px;
  margin-left: 5px;
  width: 150%;
  -webkit-appearance: none;
  background-image: url("../images/arrow_language.png");
  background-size: 31%;
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
/* line 145, ../sass/newstyle.scss */
.header_nav select option {
  border-style: none;
  background-color: transparent;
  vertical-align: center;
  padding: 13px 0px 15px 3px;
  font-weight: 350;
}
/* line 152, ../sass/newstyle.scss */
.header_nav select::-ms-expand {
  display: none;
}

/* line 158, ../sass/newstyle.scss */
.header_title {
  position: absolute;
  top: 455px;
  left: 120px;
}
/* line 162, ../sass/newstyle.scss */
.header_title h1, .header_title h2 {
  color: white;
}
/* line 165, ../sass/newstyle.scss */
.header_title h1 {
  font-size: 85px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1em;
  margin-bottom: 12px;
}
/* line 172, ../sass/newstyle.scss */
.header_title h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0px;
}

/*SECTION CONTENT_TOP*/
/*article columns_box*/
/* line 183, ../sass/newstyle.scss */
section.content_top .columns_text_icon {
  height: 680px;
  background-color: white;
}

/* line 190, ../sass/newstyle.scss */
section.content_top article.columns_text_icon h2, section.content_top article.columns_text_icon h3, section.content_top article.columns_text_icon p {
  color: #009ee0;
  margin-left: 120px;
}
/* line 194, ../sass/newstyle.scss */
section.content_top article.columns_text_icon h2 {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 25px;
}
/* line 199, ../sass/newstyle.scss */
section.content_top article.columns_text_icon h3 {
  font-size: 24px;
  margin-top: 90px;
  margin-bottom: 10px;
  font-weight: 500;
}
/* line 205, ../sass/newstyle.scss */
section.content_top article.columns_text_icon p {
  font-size: 16px;
}
/* line 210, ../sass/newstyle.scss */
section.content_top .columns_text_icon p {
  font-weight: 300;
  margin-top: 30px;
}
/* line 214, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_text, section.content_top .columns_text_icon div.block_icon {
  display: inline-block;
  background-color: white;
}
/* line 218, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_text {
  width: 60%;
}
/* line 221, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_icon {
  width: 40%;
  float: right;
}
/* line 224, ../sass/newstyle.scss */
section.content_top .columns_text_icon div.block_icon img {
  margin: 120px 0px 0px 170px;
  vertical-align: center;
}

/*SECTION CONTENT_SLIDER*/
/* line 240, ../sass/newstyle.scss */
section.content_slider {
  /*article slider*/
}
/* line 241, ../sass/newstyle.scss */
section.content_slider .full_box_video_2 {
  height: 805px;
}
/* line 245, ../sass/newstyle.scss */
section.content_slider article.slider_box {
  position: relative;
  overflow: hidden;
  height: 805px;
}
/* line 251, ../sass/newstyle.scss */
section.content_slider article.slider_box .block_text, section.content_slider article.slider_box div.video {
  width: 50%;
  display: inline-block;
  background-color: white;
  overflow: hidden;
}

/* line 259, ../sass/newstyle.scss */
article.slider_box div.video {
  float: right;
}

/* line 263, ../sass/newstyle.scss */
#slider_block_video {
  overflow: hidden;
}

/*#slider_block_video {
    overflow: hidden;
    position: absolute; 
    left: 480px;
    top: -15px;
    z-index: -1000;
}*/
/* line 275, ../sass/newstyle.scss */
article.slider_box img {
  position: relative;
  left: -310px;
  /*top: -15px;*/
  /*z-index: -1000;*/
}
/* line 282, ../sass/newstyle.scss */
article.slider_box div.block_text p {
  margin: 150px 120px 100px 120px;
  color: black;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.3em;
}

/* line 295, ../sass/newstyle.scss */
ul.slider_data {
  text-align: center;
  margin-bottom: 150px;
  line-height: 2em;
}

/* line 303, ../sass/newstyle.scss */
span.data {
  color: grey;
  font-size: 12pt;
  text-align: right;
  margin-right: 10px;
}

/* line 309, ../sass/newstyle.scss */
span.value {
  color: black;
  font-size: 12pt;
  text-align: left;
}

/*SECTION CONTENT_CENTER*/
/*full_box_blue*/
/* line 316, ../sass/newstyle.scss */
section.content_center {
  display: block;
  background-color: #009ee0;
  color: white;
  text-align: center;
  height: 1040px;
}
/* line 322, ../sass/newstyle.scss */
section.content_center p {
  color: white;
  margin: 0px 400px 0px 400px;
  line-height: 1.3em;
}

/* line 329, ../sass/newstyle.scss */
article.full_box_blue {
  height: 1040px;
}
/* line 331, ../sass/newstyle.scss */
article.full_box_blue h2 {
  margin: 0px;
  padding: 170px 0px 10px 0px;
  font-size: 60px;
}

/*SECTION CONTENT_TEASER*/
/* line 339, ../sass/newstyle.scss */
.columns_teaser {
  height: 805px;
}

/* line 342, ../sass/newstyle.scss */
article.columns_teaser {
  overflow: hidden;
  position: relative;
}

/* line 346, ../sass/newstyle.scss */
.teaser_left_box, .teaser_right_box {
  display: inline-block;
  overflow: hidden;
  width: 50%;
  overflow: hidden;
  float: left;
}

/* line 356, ../sass/newstyle.scss */
section.teaser div.teaser_left_box img, section.teaser div.teaser_right_box img {
  position: relative;
  left: -120px;
  /*top: -50px;*/
  /*width: 195%;*/
}

/* line 367, ../sass/newstyle.scss */
.teaser_left_box img {
  /*right: 0px;*/
  /*position: absolute;
  z-index: -1020;*/
}

/*.teaser_right_box img {
    left: 690px;
    position: absolute;
    z-index: -1010;
}*/
/*FOOTER*/
/* line 381, ../sass/newstyle.scss */
footer {
  background-color: #009ee0;
  clear: right;
}
/* line 384, ../sass/newstyle.scss */
footer p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 18px 0px;
}
