/*GENERAL STYLES*/
body {
	font-family: "Open Sans",sans-serif;
	font-size: 100%;
}
/*.container {
	width: 100%;
}*/
/*#allcontent {
	width: 1600px;
	margin: 0 auto;
}*/
ul {
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
p {
	font-size: 14pt;
	line-height: 2em;
}
body {
	margin: 0px;
	padding: 0px;
}
/*HEADER*/
header {
	height: 961px;
	/*background-image: url(../images/header-background.jpg);*/
	/*background-repeat: no-repeat; */
}
.row {
	position: absolute;
	top: 90px;
	left: 160px;
	/*padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;*/
}
header .header_logo img {
    height: 42px;
}
.header_logo, .row_nav {
	display: inline-block;
	float: left;
}
.row_nav {
	/*float: right;*/
	margin-left: 705px;
}
.row_nav li {
	float: left;
	height: 47px;
	margin: 0px 15px 0px 8px;
}
.row_nav select {
	float: right;
	height: 47px;
	margin-left: 8px;
}
.row_nav a {
	display: block;
	color: black;
	line-height: 47px;
	font-size: 116%;
	font-weight: 330;
	text-align: center;
	padding-left: 17px;
	padding-right: 17px;
}
.row_nav a:hover {
	border-style: solid;
	border-radius: 7px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.row_nav select {
	border-style: none;
	background-color: transparent;
	vertical-align: center;
	font-size: 125%;
	font-weight: 350;
	color: black;
	padding-right: 5px;
	margin-left: 5px;
}
.row_nav option {
	border-style: none;
	background-color: transparent;
	vertical-align: center;
	padding: 13px 0px 15px 3px;
	font-weight: 350;
}

.headline {
	position: absolute;
	top: 560px;
	left: 160px;
	/*margin-top: 380px;*/
}
.headline h1, h2 {
	text-transform: uppercase;
	color: white
}
.headline h1 {
	font-size: 100px;
	font-weight: 600;
	letter-spacing: -7px;
	line-height: 1em;
	margin-bottom: 18px;
}
.headline h2 {
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 0px;
}

/*RIGHT BORDER*/

/*MAIN*/
#content_1 {
	height: 680px;
	background-color: white; 
}

p {
	color: #009ee0;
	font-weight: 330;
}



			

