/*GENERAL STYLES*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800';

@import "compass";
@import "susy";
@import "susyone";
@import "partials/common";
@import "partials/variables";
@import "partials/mixins";

$total-columns: 12;
$grid-padding: 0; // grid-padding
$gutter-width: 0.001em;

$container-style: fluid; //static;
@include border-box-sizing;

//FONTS
$p-font-sizes: (
null  : 0.1em,
$screen-smartphone-xxxs : 0.2em,
$screen-smartphone-xxs : 0.4em,
$screen-smartphone-xs: 0.6em,
$screen-smartphone : 0.8em,
$screen-tablet : 1em,
$screen-desktop: 1em,
);
$h4-fs24: (
null  : 0.1em,
$screen-smartphone-xxxs : 0.3em,
$screen-smartphone-xxs : 0.6em,
$screen-smartphone-xs: 0.9em,
$screen-smartphone : 1.2em,
$screen-tablet : 1.5em,
$screen-desktop: 1.5em,
);
$h3-fs50: (
null  : 0.1em,
$screen-smartphone-xxxs : 0.625em,
$screen-smartphone-xxs : 1.25em,
$screen-smartphone-xs: 1.875em,
$screen-smartphone : 2.5em,
$screen-tablet : 3.125em,
$screen-desktop: 3.125em,
);
$h2-fs60: (
null  : 0.1em,
$screen-smartphone-xxxs : 0.75em,
$screen-smartphone-xxs : 1.5em,
$screen-smartphone-xs: 2.25em,
$screen-smartphone : 3em,
$screen-tablet : 3.75em,
$screen-desktop: 3.75em,
);

//GENERAL
body {
    @include container;
    @include show-grid(overlay);
    //@include clearfix;
    @include susy-grid-background;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;

}

//SECTIONS
.sec_1_part_1 {
    @include maintain-ratio($widthPSD 800);
    background-color: red;   
    .header_logo, ul.header_nav {
        display: inline-block;
        li {
            display: inline-block;
        }
        nav {
/*            @include span(3 of 12);*/
             @include prefix(1, 12);
        }    
    } 
}
.sec_1_part_2 {
    @include maintain-ratio($widthPSD 680);
    background-color: $color1;       
}
.sec_2_part_1, {
    @include maintain-ratio($widthPSD 800);
    background-color: $color4; 
}
.sec_2_part_2 {
    @include maintain-ratio($widthPSD 800);    
    //@include clearfix;
    /*padding: gutter(12) 0 0 0;*/
    //background-color: yellow; 
    //@include span(12 of 12);     
    .slide_text {              
        //@include gallery(24 of 48);      
        //width: 50%;
        //margin-bottom: gutter(12);
        //float: left;
        background-color: yellowgreen;
        @include span(6 of 12);        
    }
    .slide_video { 
        @include span(6 omega of 12);
        //@include maintain-ratio($widthPSD/2 800);
        //@include gallery(24 of 48);
        //width: 50%;
        //margin-bottom: gutter(12);
        //float: left;
        background-color: green;

        //@include span(6 of 12);
        //@include last;
        //@include span-columns(4);    
    }
}
.sec_3 {
    @include maintain-ratio($widthPSD 1040);
    //@include span(6 of 12);
    //@include last;//ддя останньої колонки
    background-color: $color2; 
}
.sec_4_part_1 {
    @include maintain-ratio($widthPSD 800);
    background-color: $color5; 
}
.sec_4_part_2 {
    @include maintain-ratio($widthPSD 825);
    background-color: $color1; 
}
.sec_5_part_1 {
    @include maintain-ratio($widthPSD 800);
    background-color: $color5; 
}
.sec_5_part_2 {
    position: relative;
    @include maintain-ratio($widthPSD 200);
    background-image: url("../images/Newsletter_background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    //background-color: $color2;
    h4 {
        text-transform: uppercase;
        //font-size: 1.17em;
        font-weight: bold;
        color: $color1;
        text-align: center;
        white-space: nowrap;
        @include font-size($h4-fs24);
        //font-size: 1.5em;
    }
}
.centered {
    //@include susy-grid-background;
    //@include squish(10,10,28);
    @include prefix(10, 48);
    @include suffix(10, 48);
    //@include prefix(6, 48); 
    //@include suffix(6, 48);
    //@include span-columns(28, 48);
    @include centerer;

    input {
        @media (max-width: $screen-tablet) {
            @include gallery(24 of 48);
        }
        @media (min-width: $screen-tablet-min) {
            @include gallery(12 of 48);
        }
        font-family: "Open Sans", sans-serif;
        font-size: 0.875em;  
        line-height: 3.125em;
        color: $color5;            
        /*@include gallery(12 of 48);*/
        //@include span-columns(14,48)
    }
    input[type="text"] {
        width: 13.75em;
    }
    input[type="submit"] {
        width: 16.4375em;
        background-color: $color2;
        color: $color1;
        text-transform: uppercase;        
        border: solid 0.0625em $color1; 
        background-image: url('../images/arrow_form.png');
        background-size: 6%;
        background-position: 95% 50%;                    
        background-repeat: no-repeat;
    }
    /*    @media only screen and (min-width: $screen-tablet-min) {
            form {
                padding: 15px 0px 30px 0px;
                text-align: center; 
                input {
                    line-height: 46px;
                    vertical-align: central;
                    margin: 0px 2px;
                    padding: 1px 10px;
                }
                input[type="text"] {
                    width: 220px;
                    font-size: 14px;
                    color: $color2;                               
                }
                input[type="submit"] {
                    width: 263px;
                    background-image: url('../images/arrow_form.png');
                    background-size: 6%;
                    background-position: 95% 50%;                    
                    background-repeat: no-repeat;
                    background-color: $color2;
                    color: $color1;
                    text-transform: uppercase;
                    text-align: left;
                    font-size: 14px;
                    letter-spacing: 2px;
                    border: solid 1px $color1; 
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 13px;
                    cursor: pointer;
                }
            }
        }*/


}
.sec_5_part_3 {
    @include maintain-ratio($widthPSD 740);
    background-color: $color1; 
}

//FOOTER
footer {
    @include maintain-ratio($widthPSD 60);
    background-color: $color2; 
    position: relative;
    p {
        @include centerer;
        font-size: 0.75em;
        color: $color1;        
        text-align: center; 
        margin: 0;
    }
}


