/*GENERAL STYLES*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800';

@import "partials/variables";

@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
}
/*.container {
        width: 100%;
}*/
/*INDICATORS*/

#left_indikator {
    position: fixed;
    top: 305px;
    left: 0px;
}

#right_indikator {
    position: fixed;
    top: 285px;
    right: 0px;
}

#allcontent {
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
ul {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}
ul {
    li {
        list-style-type: none;
    }
}
a {
    text-decoration: none;
}
p {
    font-size: 16pt;
    line-height: 2em;
}

/*SECTION CONTENT_TOP 
/*article full_box video_1*/
section.content_top {
    .full_box_video_1 {
        max-height: 800px;
        overflow: hidden;
        position: relative;
    }
}
nav {
    .header_logo {
        position: absolute;
        z-index: 1300;
        top: 60px;
        left: 130px;
        img {
            height: 35px;
        }
    }
    ul.header_nav {
        position: absolute;
        z-index: 1300;
        top: 50px;
        right: 138px;
        li {
            /*float: left;*/
            display: inline-block;
            height: 40px;
            margin: 0px 10px 0px 3px;
            select {
                /*float: right;*/
                display: inline-block;
                height: 40px;                
                border-style: none;
                background-color: transparent;
                vertical-align: center;
                font-size: 110%;
                font-weight: 300;
                color: $color3;
                padding-right: 5px;
                margin-left: 8px;
                width: 150%;
                -webkit-appearance: none;
                background-image: url('../images/arrow_language.png');
                background-size: 20%;
                background-position: 70% 50%;
                background-repeat: no-repeat;
                line-height: 1em;
                /* for FF */
                -moz-appearance: none;
                text-indent: 0.01px;
                text-overflow: '';
                /* for IE */
                -ms-appearance: none;
                appearance: none!important;
                option {
                    border-style: none;
                    background-color: transparent;
                    vertical-align: center;
                    padding: 13px 0px 15px 3px;
                    font-weight: 350;
                }
                &::-ms-expand {
                    display: none;
                }
            }
        }
        a {
            display: block;
            color: $color3;
            line-height: 40px;
            font-size: 105%;
            letter-spacing: -0.8px;
            /*font-weight: 330;*/
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
            &:hover {
                border-style: solid;
                border-radius: 7px;
                border-style: solid;
                border-width: 2px;
                border-color: $color3;
            }
        }
/*        li.selected {
            border-style: solid;
            border-radius: 7px;
            border-style: solid;
            border-width: 2px;
            border-color: $color3;
        }*/
    }
}

.header_title {
    position: absolute;
    z-index: 1300;
    top: 458px;
    left: 130px;
    h1, h2 {
        color: $color1;
    }
    h1 {
        font-size: 80px;
        font-weight: 700;
        letter-spacing: -0.6px;
        line-height: 0.99em;
        margin-bottom: 13px;
    }
    h2 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.5px;
        margin: 0px;
    }
}
.top_teaser {
    position: absolute;
    z-index: 1300;
    top: 587px;
    left: 990px;
    a {
        img {
            width: 75%;
        }
    }
}
.opacity_layer {
    position: absolute;
    /*z-index: 1299;*/
    img {
        opacity: 1;
    }
}

/*SECTION CONTENT_TOP*/
/*article columns_box*/
section.content_top {
    .columns_text_icon {
        height: 680px;
        background-color: $color1;
    }
}
section.content_top {
    article.columns_text_icon {
        h2, h3, p {
            color: $color2;
            margin-left: 120px;
        }
        h2 {
            font-size: 60px;
            margin-top: 0px;
            margin-bottom: 25px;
        }
        h3 {
            font-size: 24px;
            margin-top: 90px;
            margin-bottom: 10px;
            font-weight: 500;
        }
        p {
            font-size: 16px;
        }
    }
    .columns_text_icon {
        p {
            font-weight: 300;
            margin-top: 30px;
        }
        div.block_text, div.block_icon {
            display: inline-block;
            background-color:$color1;
        }
        div.block_text {
            width: 60%;
        }
        div.block_icon {
            width: 40%;
            float: right;
            img {
                margin: 120px 0px 0px 170px;
                vertical-align: center;
            }
        }
    }
}

/*SECTION CONTENT_SLIDER*/
section.content_slider {
    .full_box_video_2 {
        max-height: 800px;
        overflow: hidden;
    }
    /*article slider*/
    #slide_container {
        height: 800px;
        overflow: auto;
    }
    article.slider_box {
        position: relative;
        overflow: hidden;
        height: 800px;
    }
    article.slider_box {
        .block_text, div.video {
            width: 50%;
            display: inline-block;
            background-color: $color1;
            overflow: hidden;
        }
    }
}
article.slider_box.right {
    div.video {
        float: right;
        position: relative;
        div.video_button {
            /*            position: relative;*/
            /*@include centerer(true, true);*/
            img {
                /*position: absolute;
                   bottom: 400px;
                   left: 345px;*/
                @include centerer(true, true);
                /*z-index: 1001;*/
            }
        }
        div.speak_1 {
            position: relative;
            img {
                position: absolute;
                top: -420px;
                left: 80px;
                z-index: 1002;
            }
        }
    }
}
article.slider_box.left {
    div.video {
        float: left;
        position: relative;
        div.video_button {
            /*position: relative;*/
            img {
                /*                position: absolute;
                                bottom: 400px;
                                left: 345px;
                                z-index: 1001;*/
                @include centerer(true, true);
            }
        }
        div.speak_2 {
            position: relative;
            img {
                position: absolute;
                top: -420px;
                left: 80px;
                z-index: 1103;
            }
        }
    }
}
#slide_3 {
    div.speak_3 {
        position: relative;
        img {
            position: absolute;
            top: -420px;
            left: 80px;
            z-index: 1104;
        }
    }
}
.slider_block_video {
    overflow: hidden;
}

article.slider_box {
    img {
        position: relative;
        left: -310px;
    }
    div.block_text {
        /*position: relative;*/
        p {
            /*margin: 180px 120px 115px 120px;*/
            width: 70%;
            margin: 22.5% auto 14.375%;
            color: $color3;
            font-size: 24px;
            font-style: italic;
            font-weight: 500;
            text-align: center;
            letter-spacing: -0.5px;
            line-height: 1.3em;
        }
    }
}
div.slider_list {
    /*    padding-left: 262px;*/
    margin-left: auto;
    /*width: 50%;*/
    margin-right: auto;    
    text-align: center;

    /*@include centerer(true, false);*/
    ul.slider_data {
        display: inline-block;
        text-align: right;
        color: $color4;
        font-size: 16px;
        line-height: 2em;
        /*        margin-bottom: 150px;*/
        padding-right: 12px;
    }
    ul.slider_value {
        display: inline-block;
        text-align: left;
        font-size: 16px;
        line-height: 2em;
        /*        margin-bottom: 150px;*/
        padding-left: 12px;
    }

}
$font12pt: 12pt;

/*SECTION CONTENT_CENTER*/
/*full_box_blue*/
section.content_center {
    display: block;
    background-color: $color2;
    color: $color1;
    text-align: center;
    height: 1040px;
    article.full_box_blue {
        height: 1040px;
        h2 {
            margin: 0px;
            padding: 170px 0px 10px 0px;
            font-size: 60px;
            /*font-weight: 800;*/
        }
        p {
            font-size: 16px;
            color: $color1;
            margin: 8px 400px 0px 400px;
            line-height: 1.5em;
        }
        ul {
            margin-top: 130px;
            line-height: 2em;
            font-size: 24px;
            margin-left: 21.3em;
            /*list-style-image: url('../images/mark_list_page_2.png');*/
            li {
                text-align: left;
                padding-left: 60px;
                background-image:  url('../images/mark_list_page_2.png');
                background-size: 3.7%;
                background-repeat: no-repeat;
                background-position: 0 60%;
            }
        }
    }
}



/*SECTION CONTENT_TEASER*/
.columns_teaser {
    height: 800px;
}
article.columns_teaser {
    overflow: hidden;
    position: relative;
}
.teaser_left_box, .teaser_right_box {
    display: inline-block;
    position: relative;    
    overflow: hidden;
    width: 50%;    
    float: left;
    .teaser_box_label {
        /*        position: absolute;
                top: 31.5%;
                left: 16%;*/
        @include centerer(true, true);
        color: $color1;

        text-align: center;
        h2 {
            font-size: 50px;
            font-weight: 700;
            letter-spacing: -0.02em;   
            margin-bottom: 0;
        }
        h3 {
            font-size: 24px;
            font-weight: 400;
            letter-spacing: -0.02em;
            margin-top: 0.2em;
        }
        button {
            font-family: "Open Sans", sans-serif;
            background-color: transparent;
            border: 1px solid $color1;
            border-radius: 0;
            color: $color1;
            font-size: 16px;
            letter-spacing: 0.1em;
            margin: 10px 3px;
            padding: 13px 32px 13px 16px;
            text-transform: uppercase;  
            background-image: url('../images/arrow_form.png');
            background-size: 13%;
            background-position: 85% 51%;                    
            background-repeat: no-repeat;
        }
    }
}

section.teaser {
    div.teaser_left_box, div.teaser_right_box {
        img  {
            position: relative;
            left: -120px;
            /*top: -50px;*/
            /*width: 195%;*/
        }
    }
}

/*article columns_teaser_text*/
article.columns_teaser_text {
    height: 825px;
    overflow: hidden;
    .teaser_text_left_block,  .teaser_text_right_block {        
        display: inline-block;
        background-color: $color1;
        text-align: center;
        color: $color2;
        overflow: hidden;
        width: 50%;
        float: left;
    }
    h2 {
        color: $color2;
        text-align: center;
        font-size: 60px;
    }
    div.teaser_block_content {
        margin: 20px 180px;      
        img {
            height: 100px;
        }
        h3, p, button, a {
            margin-left: 0px;
            margin-right: 0px;
            color: $color2;
        }
        h3 {
            font-size: 24px;
        }
        p {
            height: 200px;
            overflow: hidden;
            font-size: 16px;
        }
    }
    button {
        background-color: $color1;
        text-align: center;
        border: 1px solid $color2;
        line-height: 2em;
        margin: 60px 0px;
        font-size: 16px;
        text-transform: uppercase;
    }
}
section.content_bottom {
    .full_box_video_3 {
        position: relative;
        max-height: 800px;
        overflow: hidden;
        img#video_3 {
            height: 805px;
        }
        .video_button {
            @include centerer(true, true);
            img {
                /*              position: absolute;
                                bottom: 315px;
                                left: 750px;
                                z-index: 1000;*/
            }
        }
    }
    .newsletter_modul {
        .mail_box {
            background-image: url('../images/Newsletter_background.jpg');
            background-color: $color2;
            background-size: 100%;
            background-position: right center;
            background-repeat: no-repeat;
            height: 200px;
            h3 {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                color: $color1;
                margin: 0px;
                padding: 30px 0px 0px 0px;
            }
            form {
                padding: 15px 0px 30px 0px;
                text-align: center; 
                input {
                    line-height: 46px;
                    vertical-align: central;
                    margin: 0px 2px;
                    padding: 1px 10px;
                }
                input[type="text"] {
                    width: 220px;
                    font-size: 14px;
                    color: $color2;                               
                }
                input[type="submit"] {
                    width: 263px;
                    background-image: url('../images/arrow_form.png');
                    background-size: 6%;
                    background-position: 95% 50%;                    
                    background-repeat: no-repeat;
                    background-color: $color2;
                    color: $color1;
                    text-transform: uppercase;
                    text-align: left;
                    font-size: 14px;
                    letter-spacing: 2px;
                    border: solid 1px $color1; 
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 13px;
                    cursor: pointer;
                }
            }
        }
    }
    .content_bottom_text {
        height: 740px;
        background-color: $color1;
        color: $color2;
        text-align: center;
        h2 {
            font-size: 60px;
            /*font-weight: bolder;*/
            margin: 0px 0px 0px 0px;
            padding-top: 240px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            margin-top: 7px;
        }
        .bottom_teaser {
            margin-top: 47px;
            img {
                width: 12.5%;
            }
        }
        .top-link {
            text-align: right;
            margin-top: 10px;
            img {
                width: 4%;
                margin-right: 30px;
            }
        }
    } 
}

/*FOOTER*/

footer {
    background-color: $color2;
    clear: right;
    p {
        color: $color1;
        font-size: 12px;
        text-align: center;
        margin: 0px;
        padding: 18px 0px;

    }
}
