/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2016, 10:03:04 PM
    Author     : roman
*/

@import "compass";
@import "susy";
@import "susyone";
@import "partials/variables";
@import "partials/mixins";

/*$susy: (
  columns: 12,
  container: 100em,
  gutters: 0.5em,
  global-box-sizing: border-box,
  debug: (image: show),
  grid-padding: 0
);*/
$container-width: 100em;
$total-columns : 48; // a 12-column grid
//$column-width : 5em;
// each column is 5em wide
$gutter-width : 0.25em;
// 1em gutters between columns
$grid-padding: 0; // grid-padding 

$container-style: fluid; //static;
@include border-box-sizing;




body {
    @include container;
    @include susy-grid-background;
    padding: 0;
    margin: 0;
}

.blueBox {
    @include maintain-ratio($widthPSD 345);
    background-color: $color2;
    border-top: 1px solid $color6;
}

.video {
    @include maintain-ratio($widthPSD 1252-346);
    background-color: green;
}

.blueText {
    @include maintain-ratio($widthPSD 1635-1252);
    background-color: white;
}

.werbung {
    @include maintain-ratio($widthPSD 800); // actually 2387-1635
}

.blue {
    background-color: $color2;
}

.white {
    background-color: white;
}

.produkteLink {
    @include maintain-ratio($widthPSD 300);
    background-color: $color2;
    border-top: 1px solid white;
}

.photos {
    //@include maintain-ratio($widthPSD 5263-4513);
    background-color: white;
    /*@include susy-grid-background;*/
    @include clearfix; 
    padding: gutter(12) 0 0 0;
}
/*@include with-grid-settings(3, 1000px, 9px, 0) {
    .photos {
        @include container;
        @include susy-grid-background;
    }
}*/

.photo {
    @include gallery(16 of 48);
    margin-bottom: gutter(12);
    //@include span-columns(4);
}
/*.photo-last {
    @include span-columns(4 omega);
}*/
.newsletter {
    @include maintain-ratio($widthPSD 200);
    background-color: $color2;
}

.kontakt {
    @include maintain-ratio($widthPSD 6197-5463);
    background-color: white;
}

footer {
    @include maintain-ratio($widthPSD 60);
    background-color: $color2;    
}