/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2016, 10:03:04 PM
    Author     : roman
*/


@import "compass";
@import "compass/reset";
@import "susy";
@import "susyone";
//@import "base";
//@import "typography";
//@import "susy/grids";
@import "partials/common";
@import "partials/variables";
@import "partials/mixins";
@import "compass/typography";
@import "compass/css3";

/*$susy: (
  columns: 12,
  container: 100em,
  gutters: 0.5em,
  global-box-sizing: border-box,
  debug: (image: show),
  grid-padding: 0
);*/
$container-width: 100em;
$total-columns : 12; 
//$column-width : 5em;
// each column is 5em wide
$gutter-width : 0.25em;
// 1em gutters between columns
$grid-padding: 0; // grid-padding 

$container-style: fluid; //static;
@include border-box-sizing;

$rhythm-unit: "rem";
@include establish-baseline;

body {
    background: $color2;
    @include container;
    //@include susy-grid-background;

}
a {
    text-decoration: none;
}

.blueBox {
    @include maintain-ratio($widthPSD 345);

    background-color: $color2;
    //@include debug-vertical-alignment;
    border-top: 1px solid $color6;
    .header_logo {
        @include margin-leader;
        @include prefix(1, 12);
        @include span-columns(2.5, 12);
        //@include suffix(8, 12);
        img {
            max-width: 100%;
        }
    }
    ul {
        @include padding-leader(3);
        @include span(last 8 of 12);
        //@include suffix(2, 12);
        margin: 0;
        margin-right: span(1.2 of 12);
        padding: 0;
        text-align: right;

        //line-height: 1.3em;
        li {
            @include padding-leader;
            list-style-type: none;
            display: inline-block;
            text-decoration: none;
            margin: 0px 0px 0px 8px;
            a {
                display: block;
                color: $color1;                
                text-align: center;
                line-height: 38px;
                //font-size: 105%;
                letter-spacing: -0.8px;
                padding-left: 10px;
                padding-right: 10px;
                &:hover {
                    border-style: solid;
                    border-radius: 7px;
                    border-style: solid;
                    border-width: 2px;
                    border-color: $color1;
                }
                &.selected {                                      
                    border-style: solid;
                    border-radius: 7px;
                    border-style: solid;
                    border-width: 2px;
                    border-color: $color1;
                }                
            }

        }
        li.arrow {
            background-image: url('../images/arrow_nav.png');
            background-size: 4%;
            background-position: 7% 74%;
            background-repeat: no-repeat;
            a {
                padding-left: 22px;  
            }
        }
    }
    li.prod {
        @media (max-width: 420px) {
            display: none;
        }
    }
    .h2 {
        //@include margin-leader(1);
        //@include adjust-font-size-to(2.2rem);

        @include span(first 9 of 12);
        @include break;
        @include prefix(1, 12);        
        //@include font-size($h2-fs60);
        //@include suffix(3, 12);
        h2 {
            text-transform: uppercase;
            font-weight: 700;
            color: $color1;
            @include font-size($h1);
        }
    }
}

.video {
    position: relative;
    img {
        width: 100%
    }
    .arrow {
        width: 7.5%;
        @include centerer;
    }
    /*    @include maintain-ratio($widthPSD 1252-346);
        background-color: green;*/
}

.blueText {
    background-color: white;
    position: relative;
    @include maintain-ratio($widthPSD 1635-1252);
    .texts {
        @include centerer;
        width: 100%;
        h2, h6 {
            text-align: center;
            color: $color2;
        }
        h2 {
            //@include adjust-font-size-to(2.2rem);
            @include font-size($h2);
            text-transform: uppercase;
            font-weight: 700;
        }
        h6 {
            @include font-size($h6);
            //@include padding-leader;
        }
    }

}

.werbung {
    @include maintain-ratio($widthPSD 800); // actually 2387-1635
}

.blue {
    background-color: $color2;
}

.white {
    background-color: white;
}

.produkteLink {
    @include maintain-ratio($widthPSD 300);
    background-color: $color2;
    border-top: 1px solid white;
}

.photos {
    //@include maintain-ratio($widthPSD 5263-4513);
    background-color: white;
    /*@include susy-grid-background;*/
    @include clearfix; 
    padding: gutter(12) 0 0 0;
}
/*@include with-grid-settings(3, 1000px, 9px, 0) {
    .photos {
        @include container;
        @include susy-grid-background;
    }
}*/

.photo {
    margin-bottom: gutter(12);

    /*    @media (max-width: $screen-smartphone-xxxs) {
            //@include gallery(48 of 48);
            @include maintain-ratio($widthPSD $widthPSD);
        }*/
    @media (max-width: $screen-tablet) {
        @include gallery(24 of 48);
    }
    @media (min-width: $screen-tablet-min) {
        @include gallery(16 of 48);
    }


    //@include span-columns(4);
}

.newsletter {
    position: relative;
    @include maintain-ratio($widthPSD 200);
    background-image: url("../images/Newsletter_background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    //background-color: $color2;
    h4 {
        text-align: center;
        text-transform: uppercase;
        //font-size: 1.17em;
        font-weight: bold;
        color: $color1;
        text-align: center;
        white-space: nowrap;
        @include font-size($h4);
        //font-size: 1.5em;
    }
    //@include susy-grid-background;

    .centered {
        //@include susy-grid-background;
        //@include squish(10,10,28);
        @include prefix(2, 12);
        @include span(10 of 12);
        @include suffix(2, 12);
        //@include margin-leader(1);
        //@include prefix(6, 48); 
        //@include suffix(6, 48);
        //@include span-columns(28, 48);
        @include centerer;

        input {
            @media (max-width: $screen-tablet) {
                @include gallery(24 of 48);
            }
            @media (min-width: $screen-tablet-min) {
                @include gallery(12 of 48);
            }
            font-family: "Open Sans", sans-serif;
            @include font-size($p-small-14fs);
            font-size: 0.875em;  
            line-height: 3.125em;
            @media (max-width: $screen-tablet) {
                line-height: 1.5em;
            }
            color: $color5;            
            /*@include gallery(12 of 48);*/
            //@include span-columns(14,48)
        }
        input[type="text"] {
            width: 14em;
        }
        input[type="submit"] {
            width: 14em;
            background-color: $color2;
            color: $color1;
            text-transform: uppercase;        
            border: solid 0.0625em $color1; 
            //background-image: url('../images/arrow_form.png');
            background-size: 6%;
            background-position: 95% 50%;                    
            background-repeat: no-repeat;
        }
    }
}
.kontakt {
    position: relative;
    @include maintain-ratio($widthPSD 6197-5463);
    background-color: white;
    h1, h6 {

        text-align: center;
        color: $color2;

    }
    h1 {
        //@include padding-leader(7);
        text-transform: uppercase;
        font-weight: 900;
        @include font-size($h1);
    }
    h6 {
        @include font-size($h6);
    }
    .img {
        @include padding-leader(2);
        @include centerer(true, false);
        @include span(1.5 of 12);
        //
        img {
            max-width: 100%
        }
    }
    .arrow_top {
        @include break;
        @include suffix(1, 12);
        @include span(last 1 of 48);
    }
}

footer {
    @include maintain-ratio($widthPSD 60);
    background-color: $color2;    
}